{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "usage"
        }
      }
    ],
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./components",
          "config": "./config",
          "graphql": "./graphql",
          "helpers": "./helpers",
          "hooks": "././hooks",
          "pages": "././pages",
          "styles": "./styles",
          "types": "./types"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", { "modules": false } ], "next/babel"]
    }
  }
}
