{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["react-app", "eslint:recommended", "plugin:jsx-a11y/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["prettier", "react"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "linebreak-style": ["error", "unix"],
    "prettier/prettier": "error",
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "semi": ["error", "always"],
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/no-onchange": "off",
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "every": ["id"]
        },
        "allowChildren": false
      }
    ],
    "no-unused-expressions": 0,
    "no-undef": ["error"]
  }
}
